<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <system.web>
    <httpRuntime maxRequestLength="65535"/>
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="LoginEndPoint" maxBufferSize="2147483647"
            maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            defaultOutgoingResponseFormat="Json" helpEnabled="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LoginServiceBehavior">
          <bufferedReceive maxPendingMessagesPerChannel="1024" />
          <serviceThrottling />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="LoginBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="CommunicationBinding" maxBufferSize="2147483647"
            maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="DMobile.Server.Main.CommunicationCenter">
        <endpoint address="http://localhost:4477/CommunicationCenter"
          binding="webHttpBinding" bindingConfiguration="CommunicationBinding"
          name="basicWeb" contract="DMobile.Server.Main.ICommunicationCenter" />
      </service>
      <service name="DMobile.Server.Login.LoginService">
        <endpoint address="http://localhost:4477/LoginService" binding="webHttpBinding"
          bindingConfiguration="LoginBinding" name="Login" contract="DMobile.Server.Login.ILoginService"
          kind="webHttpEndpoint" endpointConfiguration="LoginEndPoint" />
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <!--Configer-->
    <add key="ServerList" value="Configuration\Data\Database.config"/>
    <add key="DataCommandFiles" value="Configuration\Data\DataCommandFiles.config"/>
    <add key="ServerConfigFile" value="DMobile.Server.Configuration.dll"/>
    <add key="BizFile" value="EasyRestaurantBusiness.dll"/>
    <add key="FileChangeInteravl" value="500"/>

    <!--IIS Configer--><!--
    <add key="ServerList" value="bin\Configuration\Data\Database.config"/>
    <add key="DataCommandFiles" value="bin\Configuration\Data\DataCommandFiles.config"/>
    <add key="ServerConfigFile" value="bin\DMobile.Server.Configuration.dll"/>
    <add key="BizFile" value="bin\EasyRestaurantBusiness.dll"/>
    <add key="FileChangeInteravl" value="500"/>-->
  </appSettings>
</configuration>
